body{
    display: flex;
    flex-direction: column;
}
.menuDeroulant{
    display: flex;
    height: 10vh;
}
.menu{
    width: 10vw;
    margin: 0 1vw;
}
.sousMenuGroupe{
    width: 10vw;
    border: black 1px solid;
    display: none;
}
.menuTitre:hover{
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
}
.gris{
    background-color: gray;
}
.taille{
    height: 5vh;
} 
.bleu{
    background-color: blue;
}
.blanc{
    background-color: white;
}
.border{
    border: black 2px solid;
}
.ecritureG{
    font-size:1.5em;
    color: white;
    text-align: center;
    padding-top: 4vh;
}
.ecritureM{
    font-size:1.2em;
    text-align: center;
}